*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background: url('../Imagens e Vídeos/Background_image.jpg');
    background-size: cover;
}

/* jumbotron */

h2{
    margin: 50px 0;
}

h4{
    margin: 20px 0;
}

.jumbotron{
    width: 80%;
    max-width: 700px;
    max-height: 600px;
    position: absolute;
    box-shadow: 1px 2px 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
}

input{
    text-align: center;
    padding: 10px;
    width: 400px;
}

p{
    font-size: x-large;
    margin: 20px auto;
    width: 80%;
}

button{
    text-transform: uppercase;
    margin: 20px 0;
}

#btn-ini{
    padding: 10px 20px;
    margin-bottom: 30px;
}

button[name='btn_resp']{
    width: 80%;
    padding: 10px 0;
    border: solid 1px #333;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #777;
}

#btn_mp{
    margin-top: 20px;
}

#res{
    font-size: x-large;
}

/* icones */

#cbç-icon{
    padding: 20px;
    border: 2px solid;
    border-radius: 50%;
    box-shadow: 2px 1px 5px ;
}

/* Acertos */

#icon-acerto{
    color: rgb(0, 196, 0);
    margin: 0 10px;
    
}

#icon-erro{
    color: red;
    margin: 0 10px;
}
/* Copy */
#copy p{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    font-size: small;
}